.more__button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  a {
    position: relative;
    display: block;
    padding: 9px 15px;
    border-bottom: 2px solid var(--dark-color);
    z-index: 1;
    overflow: hidden;
    span {
      font-size: 16px;
      font-weight: 700;
      color: var(--dark-color);
      position: relative;
      padding-left: 30px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.3s ease-in-out;
      }
      &::before {
        left: 0;
        width: 16px;
        height: 1px;
        background-color: var(--dark-color);
      }
      &::after {
        left: 8px;
        width: 6px;
        height: 6px;
        border-top: 1px solid var(--dark-color);
        border-right: 1px solid var(--dark-color);
        transform: rotate(45deg);
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: -50px;
      border-right: 50px solid transparent;
      border-bottom: 60px solid #fff100;
      transform: translateX(-100%);
      transition: all 0.3s ease-in-out;
      z-index: -1;
    }
    &:hover {
      span {
        &::before {
          width: 24px;
        }
        &::after {
          left: 16px;
        }
      }
      &::after {
        transform: translateX(0);
      }
    }
  }
}
