:root {
  --white-color: #ffffff;
  --darker-white-color: #f8f8f8;
  --grey-color: #e5e5e5;
  --darker-grey-color: #666666;
  --yellow-color: #fff100;
  --movie-color: #ffdd00;
  --dark-color: #000000;
  --hover-dark-color: #888888;
  --lighter-dark-color: #333333;
  --hover-header-color: #444444;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark-color);
  font-family: Noto Sans JP, \\6e38\30b4\30b7\30c3\30af\4f53, YuGothic,
    \\6e38\30b4\30b7\30c3\30af, Yu Gothic, \\30e1\30a4\30ea\30aa, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}