:root {
  --white-color: #ffffff;
  --darker-white-color: #f8f8f8;
  --grey-color: #e5e5e5;
  --darker-grey-color: #666666;
  --yellow-color: #fff100;
  --movie-color: #ffdd00;
  --dark-color: #000000;
  --hover-dark-color: #888888;
  --lighter-dark-color: #333333;
  --hover-header-color: #444444;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark-color);
  font-family: Noto Sans JP, \\6e38\30b4\30b7\30c3\30af\4f53, YuGothic,
    \\6e38\30b4\30b7\30c3\30af, Yu Gothic, \\30e1\30a4\30ea\30aa, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

@-webkit-keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner__border--container {
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner__border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25rem solid currentColor;
    border-right-color: transparent;
    // stylelint-disable-next-line property-blacklist
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
    color: var(--yellow-color);
  }

  &.slider {
    height: 553px;
    margin: 48px 0 113px;
  }

  &.articles__rank,
  &.tags {
    margin: 80px 0;
  }

  &.tagsList {
    margin-top: 12.5px;
  }
}

.main__column {
  -webkit-tap-highlight-color: transparent;
  .spinner__border--container {
    margin: 30px 0;
    + .link__list {
      margin: 60px 0 40px;
      display: flex;
      justify-content: center;
      a {
        margin-top: 20px;
      }
    }
  }
  .page__list {
    margin-top: 35px;
    padding: 20px 20px 0;
    ul {
      li:not(.omit) {
        width: 35px;
        height: 35px;
        &.prev,
        &.next {
          a {
            background-size: 35px 35px;
          }
        }
      }
      li.omit {
        height: 35px;
      }
    }
  }
}
