.container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.category {
    padding: 1px 10px 2px;
    color: var(--white-color);
    font-size: 13px;
    letter-spacing: .04em;
    text-align: center;
    background: var(--hover-header-color);
}

.date {
    margin-left: 14px;
    color: var(--hover-dark-color);
    font-size: 13px;
}