.container {
    position: relative;
    margin-top: 134px;
}

.title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 16.5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 1px;
        width: 40px;
        background-color: var(--lighter-dark-color);
    }
}