.breadcrumb {
  .breadcrumb__inner {
    padding: 23.5px 0;

    .breadcrumb__list {
      li {
        display: inline-block;
        margin-right: 8px;
        font-size: 12px;

        &::after {
          content: ">";
          margin-left: 8px;
          color: var(--hover-dark-color);
        }

        &:last-child {
          margin-right: 0;

          &::after {
            content: "";
          }
        }

        a {
          color: var(--dark-color);

          &:hover {
            opacity: 0.5;
            text-decoration: underline;
          }
        }
      }
    }
  }
}