.wrapper,
.wrapper--mobile {
  &.tag {
    background-color: var(--white-color);
    padding: 0;
    margin: 0;
  }
}

.wrapper {
  &.tag {
    .breadcrumb,
    .tags__list {
      width: 1070px;
      margin: auto;
    }
  }
}

.wrapper--mobile {
  &.tag {
    background-color: var(--darker-white-color);
  }
}

.wrapper__column {
  &.tag_all {
    .rank__list {
      margin: 0;
      + .link__list {
        margin: 80px 0 0;
      }
    }
    .tags__list {
      display: flex;
      justify-content: center;
      .tags__title {
        font-size: 20px;
        &::after {
          height: 0.5px;
          right: 0;
          margin: auto;
        }
      }
    }
    .tags__content {
      li {
        border: 1px solid var(--grey-color);
        a {
          padding: 8px 11px 9px calc(10px + 1em);
          span {
            font-size: 14px;
            padding: 0;
            &::before {
              left: -10px;
            }
          }
        }
      }
    }
  }
}

.main__column {
  &.tag_all {
    .tags__list {
      padding: 0;
      margin: 15px 0 25px;
      background-color: var(--white-color);
    }
    .tags__content {
      margin: 0;
      padding: 0 15px;
      li {
        border: 1px solid var(--grey-color);
      }
      + .rank__list {
        margin: 60px 0 40px;
      }
    }
  }
}
