.slider__container {
  margin: 48px 0 113px;
  background-image: linear-gradient(
    180deg,
    transparent 54.8%,
    var(--darker-white-color) 0
  );
  position: relative;
  .slider__inner {
    width: 1200px;
    height: 553px;
    margin: auto;
    position: relative;
    .swiper__container--info {
      position: absolute;
      width: 465px;
      height: 388px;
      top: 67px;
      left: 0;
      .post__info {
        width: 465px;
        height: 320px;
        background-color: var(--yellow-color);
        padding: 50px 40px;
        position: relative;
        box-shadow: 10px 10px 20px #8787874d;
        .post__info--upper {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          .category {
            font-size: 13px;
            color: var(--white-color);
            background-color: var(--dark-color);
            padding: 5px 11px 6px;
          }
          .date {
            margin-left: 20px;
          }
        }
        .post__info--title {
          font-size: 24px;
          font-weight: 700;
          max-height: 187px;
          overflow: hidden;
          overflow-wrap: break-word;
          transition: all 0.3s ease;
        }
        .post__info--wrapper {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 100%;
        }
        &:hover {
          .post__info--title {
            color: var(--hover-dark-color);
          }
        }
      }
    }
    .swiper__container--img {
      position: absolute;
      width: 735px;
      height: 490px;
      right: 0;
      box-shadow: 0 6px 10px #0000001a;
      .swiper-slide {
        overflow: hidden;
        position: relative;
        .slide-bgimg {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-position: 50%;
          background-size: cover;
          img {
            display: none;
          }
        }
        a {
          position: absolute;
          width: 100%;
          height: 100%;
          transition: all 0.3s ease;
          &:hover {
            background-color: hsla(0, 0%, 100%, 0.6);
            opacity: 0.5;
          }
        }
      }
    }
    .img-prev,
    .img-next {
      position: absolute;
      bottom: 0;
      margin: auto;
      background-image: url(../../../assets/common/btn_pagination_arrow.png);
      background-size: cover;
      width: 36px;
      height: 36px;
      cursor: pointer;
      transition: all 0.3s ease;
      z-index: 10;
      &:hover {
        background-image: url(../../../assets/common/btn_pagination_arrow_on.png);
      }
    }
    .img-prev {
      left: 40px;
      transform: scaleX(-1);
    }
    .img-next {
      left: 86px;
    }
    .img-pagination {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 8px;
      margin: auto;
      padding-right: 47px;
      text-align: right;
      z-index: 9;
      .swiper-pagination-bullet {
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: var(--grey-color);
        border-radius: 100%;
        margin-left: 6px;
      }
      .swiper-pagination-bullet-active {
        background-color: var(--yellow-color);
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -80px;
    width: 100%;
    height: 160px;
    background: url(../../../assets/common/bg_text_slider.png) no-repeat;
    background-position: 50%;
    background-size: contain;
  }
}
