.error__container,
.error__container--mobile {
  .back__button {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 18px 15px;
      border-bottom: 2px solid var(--dark-color);
      z-index: 1;
      width: 330px;
      overflow: hidden;

      span {
        font-size: 16px;
        font-weight: 700;
        color: var(--dark-color);
        position: relative;
        padding-left: 30px;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          transition: all 0.3s ease-in-out;
        }

        &::before {
          left: 0;
          width: 16px;
          height: 1px;
          background-color: var(--dark-color);
        }

        &::after {
          left: 0;
          width: 6px;
          height: 6px;
          border-top: 1px solid var(--dark-color);
          border-right: 1px solid var(--dark-color);
          transform: rotate(-135deg);
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: -50px;
        margin: auto;
        z-index: -1;
        border-left: 50px solid transparent;
        border-bottom: 60px solid #fff100;
        transform: translateX(100%);
        transition: 0.3s ease-in-out;
      }

      &:hover {
        span {
          &::before {
            width: 24px;
            left: -8px;
          }

          &::after {
            left: -8px;
          }
        }

        &::after {
          transform: translateX(0);
        }
      }
    }
  }
}

.error__container {
  width: 1070px;
  margin: auto;

  .error__info {
    margin-top: 140px;

    h2 {
      margin-bottom: 35px;
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }
  }
}

.error__container--mobile {
  -webkit-tap-highlight-color: transparent;

  .breadcrumb {
    background-color: var(--darker-white-color);

    .breadcrumb__inner {
      padding: 14px 20px 4px;
    }
  }

  .error__info {
    margin: 30px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 8px;
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }
  }

  .back__button {
    margin-top: 50px;
  }
}