.wrapper__column {
  &.article {
    .spinner__border--container {
      margin-top: 68px;
    }
    .left__column {
      article {
        .article__header {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          .article__header--label {
            padding: 1px 10px 2px;
            text-align: center;
            font-size: 13px;
            letter-spacing: 0.04em;
            background: var(--hover-header-color);
            color: var(--white-color);
          }
          .article__header--date {
            margin-left: 14px;
            color: var(--hover-dark-color);
            font-size: 13px;
          }
        }
        .article__body {
          font-size: 16px;
          line-height: 1.75;
          letter-spacing: 0.05em;
          word-break: normal;
          word-wrap: break-word;
          overflow-wrap: break-word;
          > h1 {
            margin-bottom: 30px;
            border-bottom: 2px solid var(--dark-color);
            padding-bottom: 20px;
            font-size: 28px;
            font-weight: 700;
          }
          .article__body--thumb {
            margin-bottom: 40px;
            box-shadow: 4px 4px 4px 0px #0000001a;
            position: relative;
            img {
              display: block;
              max-width: 100%;
              height: auto;
            }
          }
          & div,
          & dl,
          & h2,
          & h3,
          & h4,
          & h5,
          & ol,
          & section,
          & table,
          & ul {
            margin: 0 0 20px;
          }
          p {
            margin-bottom: 30px;
            &.small-font-size {
              font-size: 13px;
            }
          }
          hr {
            margin: 30px 0;
          }
          strong {
            background: linear-gradient(transparent 78%, var(--yellow-color) 0);
          }
          blockquote {
            margin: 16px 40px;
          }
          a {
            color: #09c;
            text-decoration: underline;
            &:hover {
              color: #078;
              text-decoration: none;
              opacity: 0.5;
            }
          }
          figure {
            &.block__image {
              text-align: center;
              margin-bottom: 40px;
              max-width: 100%;
              img {
                display: block;
                margin: auto;
                height: auto;
                max-width: 100%;
              }
            }
            &.block__video {
              text-align: center;
              iframe {
                margin: 0;
              }
            }
            figcaption {
              font-size: 12px;
              line-height: 1.6;
              color: #666;
              margin-top: 10px;
              display: inline-block;
              max-width: 100%;
              text-align: justify;
              line-break: loose;
              margin-bottom: 13px;
            }
          }
          section {
            &.block__profile {
              background-color: #f8f8f8;
              position: relative;
              padding: 30px 30px 30px 150px;
              margin-bottom: 20px;
              font-weight: 400;
              dl {
                margin-bottom: 0;
                dt {
                  margin-bottom: 10px;
                  .wrapper__info {
                    display: flex;
                    flex-flow: column-reverse;
                    margin-bottom: 0;
                    .team {
                      font-size: 14px;
                      color: #666;
                    }
                    .name {
                      font-size: 22px;
                    }
                  }
                  .wrapper__img {
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    top: 30px;
                    left: 30px;
                    img {
                      width: 100%;
                      height: auto;
                      border-radius: 50px;
                    }
                  }
                }
                dd {
                  font-size: 14px;
                }
              }
            }
          }
          h2 {
            &.block__title {
              font-size: 20px;
              font-weight: 700;
              margin: 70px 0 40px;
              padding: 16px 0 16px 22px;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 100%;
                background-color: var(--yellow-color);
                top: 0;
                bottom: 0;
                left: -5px;
                margin: auto;
              }
            }
          }
          h3 {
            font-size: 16px;
            font-weight: 700;
            margin-top: 40px;
            &.block__question {
              font-size: 16px;
              font-weight: 700;
              margin-top: 40px;
            }
            &.block__text {
              font-size: 18px;
              font-weight: 700;
              margin: 54px 0 27px;
            }
          }
          dl {
            &.block__answer {
              &.face--left {
                padding-left: 75px;
              }
              &.face--right {
                padding-right: 75px;
              }
              position: relative;
              min-height: 60px;
              padding-top: 13px;
              box-sizing: border-box;
              dt {
                line-height: 1.3;
                .wrapper__img {
                  height: 60px;
                  width: 60px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  img {
                    width: 100%;
                    height: auto;
                    border-radius: 30px;
                  }
                }
                span {
                  text-align: left;
                  font-size: 12px;
                  font-weight: 700;
                }
              }
              dd {
                position: relative;
                border: 1px solid #ddd;
                padding: 22px;
                font-size: 16px;
                strong {
                  background: linear-gradient(
                    transparent 78%,
                    var(--yellow-color) 0
                  );
                }
                &::before {
                  content: "";
                  position: absolute;
                  top: -1px;
                  left: -11px;
                  border: 10px solid transparent;
                  border-top: 10px solid #ddd;
                }
                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: -9px;
                  border: 10px solid transparent;
                  border-top: 10px solid #fff;
                }
              }
            }
          }
          span {
            &.block__link {
              display: block;
              text-align: center;
              margin-bottom: 20px;
              a {
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                border: 3px solid #000;
                border-radius: 40px;
                padding: 20px 60px 19px;
                width: 100%;
                text-align: center;
                background-color: #000;
                color: #fff;
                font-weight: 700;
                font-size: 14px;
                text-decoration: none;
                &:hover {
                  background-color: #fff;
                  color: #000;
                  opacity: 1;
                }
              }
            }
          }
          iframe {
            width: 690px;
            height: 388px;
            margin: 0 auto;
            margin-bottom: 40px;
            line-height: 0;
            text-align: center;
          }
        }
        .article__footer {
          margin-top: 50px;
          line-height: 1.3;
          .tags__content {
            li {
              border: 1px solid var(--grey-color);
              a {
                padding: 4px 8px 5px 6px;
              }
            }
          }
          .article__relative {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            li {
              width: 180px;
              font-size: 16px;
              line-height: 1.5;
              color: var(--dark-color);
              a {
                display: block;
                color: var(--dark-color);
                &:hover {
                  .article__prev,
                  .article__next {
                    &::after {
                      transform: translateX(0);
                    }
                  }
                  .article__prev {
                    span {
                      &::before {
                        left: -8px;
                        width: 24px;
                      }
                      &::after {
                        left: -8px;
                      }
                    }
                  }
                  .article__next {
                    span {
                      &::before {
                        width: 24px;
                      }
                      &::after {
                        left: 16px;
                      }
                    }
                  }
                  p {
                    color: #888;
                  }
                }
                .article__prev,
                .article__next {
                  padding: 9px 15px;
                  border-bottom: 2px solid var(--dark-color);
                  display: flex;
                  align-items: center;
                  position: relative;
                  overflow: hidden;
                  &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: -1;
                    border-bottom: 60px solid var(--yellow-color);
                    transition: 0.3s ease-in-out;
                  }
                  span {
                    position: relative;
                    padding-left: 30px;
                    &::before,
                    &::after {
                      content: "";
                      position: absolute;
                      top: 3px;
                      bottom: 0;
                      margin: auto;
                      transition: all 0.3s ease-in-out;
                    }
                  }
                }
                .article__prev {
                  justify-content: start;
                  &::after {
                    border-left: 50px solid transparent;
                    left: -50px;
                    transform: translateX(100%);
                  }
                  span {
                    &::before {
                      left: 0;
                      width: 16px;
                      height: 1px;
                      background: var(--dark-color);
                    }
                    &::after {
                      left: 0;
                      width: 6px;
                      height: 6px;
                      border-top: 1px solid var(--dark-color);
                      border-right: 1px solid var(--dark-color);
                      transform: rotate(-135deg);
                    }
                  }
                }
                .article__next {
                  justify-content: end;
                  &::after {
                    border-right: 50px solid transparent;
                    right: -50px;
                    transform: translateX(-100%);
                  }
                  span {
                    &::before {
                      left: 0;
                      width: 16px;
                      height: 1px;
                      background: var(--dark-color);
                    }
                    &::after {
                      left: 8px;
                      width: 6px;
                      height: 6px;
                      border-top: 1px solid #000;
                      border-right: 1px solid #000;
                      transform: rotate(45deg);
                    }
                  }
                }
              }
              p {
                margin-top: 10px;
                font-size: 12px;
                font-weight: 400;
                transition: color 0.3s ease;
              }
            }
          }
          .article__share {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            border-bottom: 1px solid var(--dark-color);
            border-top: 1px solid var(--dark-color);
            padding: 30px 0;
            button {
              .share__button {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease-in-out;
                span {
                  color: var(--white-color);
                  height: 20px;
                  display: flex;
                  align-items: center;
                  font-size: 11px;
                  font-weight: 700;
                  padding-right: 6px;
                }
                &.facebook__share {
                  padding-right: 20px;
                  span {
                    background-color: #3b5998;
                  }
                }
                &.twitter__share {
                  span {
                    background-color: #00aced;
                  }
                }
                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
          .back__button {
            margin-top: 94px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 18px 15px;
              border-bottom: 2px solid var(--dark-color);
              z-index: 1;
              width: 330px;
              overflow: hidden;
              span {
                font-size: 16px;
                font-weight: 700;
                color: var(--dark-color);
                position: relative;
                padding-left: 30px;
                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  transition: all 0.3s ease-in-out;
                }
                &::before {
                  left: 0;
                  width: 16px;
                  height: 1px;
                  background-color: var(--dark-color);
                }
                &::after {
                  left: 0;
                  width: 6px;
                  height: 6px;
                  border-top: 1px solid var(--dark-color);
                  border-right: 1px solid var(--dark-color);
                  transform: rotate(-135deg);
                }
              }
              &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: -50px;
                margin: auto;
                z-index: -1;
                border-left: 50px solid transparent;
                border-bottom: 60px solid #fff100;
                transform: translateX(100%);
                transition: 0.3s ease-in-out;
              }
              &:hover {
                span {
                  &::before {
                    width: 24px;
                    left: -8px;
                  }
                  &::after {
                    left: -8px;
                  }
                }
                &::after {
                  transform: translateX(0);
                }
              }
            }
          }
        }
      }
      .article__recommends {
        margin-top: 134px;
        position: relative;
        .article__recommends--title {
          position: relative;
          padding-bottom: 16.5px;
          margin-bottom: 30px;
          text-align: center;
          font-size: 20px;
          font-weight: 700;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 1px;
            width: 40px;
            background-color: var(--lighter-dark-color);
          }
        }
      }
    }
  }
}

.main__column {
  &.article {
    .spinner__border--container {
      margin-top: 68px;
    }
    article {
      margin: 20px auto 0;
      padding: 0 15px;
      font-size: 14px;
      .article__header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .article__header--label {
          padding: 1px 10px 2px;
          text-align: center;
          font-size: 13px;
          letter-spacing: 0.04em;
          background: var(--hover-header-color);
          color: var(--white-color);
        }
        .article__header--date {
          margin-left: 14px;
          color: var(--hover-dark-color);
          font-size: 13px;
        }
      }
      .article__body {
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0.05em;
        word-break: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        > h1 {
          margin-bottom: 30px;
          border-bottom: 2px solid var(--dark-color);
          padding-bottom: 20px;
          font-size: 17px;
          font-weight: 700;
        }
        .article__body--thumb {
          margin-bottom: 40px;
          box-shadow: 4px 4px 4px 0px #0000001a;
          position: relative;
          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
        & div,
        & dl,
        & h2,
        & h3,
        & h4,
        & h5,
        & ol,
        & section,
        & table,
        & ul {
          margin: 0 0 20px;
        }
        p {
          margin-bottom: 30px;
          font-size: 13px;
          &.small-font-size {
            font-size: 12px;
          }
        }
        hr {
          margin: 30px 0;
        }
        strong {
          background: linear-gradient(transparent 78%, var(--yellow-color) 0);
        }
        blockquote {
          margin: 15px 40px;
        }
        a {
          color: #09c;
          text-decoration: underline;
        }
        figure {
          &.block__image {
            text-align: center;
            margin-bottom: 40px;
            img {
              display: block;
              margin: auto;
              height: auto;
              max-width: 100%;
            }
          }
          &.block__video {
            text-align: center;
            iframe {
              margin: 0;
            }
            video {
              display: block;
              height: auto;
              margin: auto;
              max-width: 100%;
            }
          }
          figcaption {
            font-size: 11px;
            line-height: 1.6;
            color: #666;
            margin-top: 8px;
            display: inline-block;
            max-width: 100%;
            text-align: justify;
            line-break: loose;
            margin-bottom: 13px;
            letter-spacing: 0.05em;
          }
        }
        section {
          &.block__profile {
            background-color: #f8f8f8;
            position: relative;
            padding: 29px 20px 21px;
            margin-bottom: 20px;
            font-weight: 400;
            dl {
              margin-bottom: 0;
              dt {
                margin-bottom: 25px;
                margin-left: 65px;
                line-height: 1;
                .wrapper__info {
                  display: flex;
                  flex-flow: column-reverse;
                  margin-bottom: 0;
                  .team {
                    font-size: 12px;
                    color: #666;
                  }
                  .name {
                    font-size: 14px;
                    margin-bottom: 7px;
                  }
                }
                .wrapper__img {
                  position: absolute;
                  top: 20px;
                  left: 20px;
                  width: 50px;
                  height: 50px;
                  border-radius: 25px;
                  text-align: center;
                  overflow: hidden;
                  img {
                    width: 100%;
                    height: auto;
                    border-radius: 50px;
                  }
                }
              }
              dd {
                font-size: 12px;
              }
            }
          }
        }
        h2 {
          &.block__title {
            font-size: 14px;
            font-weight: 700;
            margin: 35px 0 20px;
            padding: 16px 0 16px 22px;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 10px;
              height: 100%;
              background-color: var(--yellow-color);
              top: 0;
              bottom: 0;
              left: -5px;
              margin: auto;
            }
          }
        }
        h3 {
          font-size: 14px;
          font-weight: 700;
          margin-top: 40px;
          &.block__question {
            font-size: 14px;
            font-weight: 700;
            margin-top: 40px;
          }
          &.block__text {
            font-size: 18px;
            font-weight: 700;
            margin: 54px 0 27px;
          }
        }
        dl {
          &.block__answer {
            &.face--left {
              padding-left: 62px;
              dt {
                .wrapper__img {
                  left: 0;
                }
              }
            }
            &.face--right {
              padding-right: 62px;
              dt {
                .wrapper__img {
                  right: 0;
                }
              }
            }
            position: relative;
            min-height: 50px;
            padding-top: 10px;
            box-sizing: border-box;
            dt {
              line-height: 1.3;
              .wrapper__img {
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 25px;
                margin: 0;
                overflow: hidden;
                position: absolute;
                top: 0;
                img {
                  width: 100%;
                  height: auto;
                  border-radius: 30px;
                }
              }
              span {
                text-align: left;
                font-size: 11px;
                font-weight: 700;
              }
            }
            dd {
              position: relative;
              border: 1px solid #ddd;
              padding: 18px;
              font-size: 14px;
              strong {
                background: linear-gradient(
                  transparent 78%,
                  var(--yellow-color) 0
                );
              }
              &::before {
                content: "";
                position: absolute;
                top: -1px;
                left: -11px;
                border: 10px solid transparent;
                border-top: 10px solid #ddd;
              }
              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: -9px;
                border: 10px solid transparent;
                border-top: 10px solid #fff;
              }
            }
          }
        }
        span {
          &.block__link {
            display: block;
            text-align: center;
            margin-bottom: 20px;
            a {
              position: relative;
              display: inline-block;
              box-sizing: border-box;
              border-radius: 40px;
              padding: 10px 27px 9px;
              width: 100%;
              text-align: center;
              background-color: #000;
              color: #fff;
              font-weight: 700;
              font-size: 12px;
              text-decoration: none;
            }
          }
        }
        iframe {
          width: 100%;
          height: 51.7vw;
          margin: 0 auto;
          margin-bottom: 40px;
          line-height: 0;
          text-align: center;
        }
      }
      .article__footer {
        margin-top: 50px;
        line-height: 1.3;
        .tags__content {
          li {
            border: 1px solid var(--grey-color);
            a {
              padding: 4px 8px 5px 6px;
            }
          }
        }
        .article__relative {
          display: flex;
          justify-content: space-between;
          margin-top: 30px;

          li {
            width: 150px;
            font-size: 14px;
            line-height: 1.5;
            color: var(--dark-color);
            a {
              display: block;
              color: var(--dark-color);
              &:hover {
                .article__prev,
                .article__next {
                  &::after {
                    transform: translateX(0);
                  }
                }
                .article__prev {
                  span {
                    &::before {
                      left: -8px;
                      width: 24px;
                    }
                    &::after {
                      left: -8px;
                    }
                  }
                }
                .article__next {
                  span {
                    &::before {
                      width: 24px;
                    }
                    &::after {
                      left: 16px;
                    }
                  }
                }
                p {
                  color: #888;
                }
              }
              .article__prev,
              .article__next {
                padding: 9px 15px;
                border-bottom: 2px solid var(--dark-color);
                display: flex;
                align-items: center;
                position: relative;
                overflow: hidden;
                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: auto;
                  z-index: -1;
                  border-bottom: 60px solid var(--yellow-color);
                  transition: 0.3s ease-in-out;
                }
                span {
                  position: relative;
                  padding-left: 30px;
                  &::before,
                  &::after {
                    content: "";
                    position: absolute;
                    top: 3px;
                    bottom: 0;
                    margin: auto;
                    transition: all 0.3s ease-in-out;
                  }
                }
              }
              .article__prev {
                justify-content: start;
                &::after {
                  border-left: 50px solid transparent;
                  left: -50px;
                  transform: translateX(100%);
                }
                span {
                  &::before {
                    left: 0;
                    width: 16px;
                    height: 1px;
                    background: var(--dark-color);
                  }
                  &::after {
                    left: 0;
                    width: 6px;
                    height: 6px;
                    border-top: 1px solid var(--dark-color);
                    border-right: 1px solid var(--dark-color);
                    transform: rotate(-135deg);
                  }
                }
              }
              .article__next {
                justify-content: end;
                &::after {
                  border-right: 50px solid transparent;
                  right: -50px;
                  transform: translateX(-100%);
                }
                span {
                  &::before {
                    left: 0;
                    width: 16px;
                    height: 1px;
                    background: var(--dark-color);
                  }
                  &::after {
                    left: 8px;
                    width: 6px;
                    height: 6px;
                    border-top: 1px solid #000;
                    border-right: 1px solid #000;
                    transform: rotate(45deg);
                  }
                }
              }
            }
            p {
              margin-top: 10px;
              font-size: 11px;
              font-weight: 400;
              transition: color 0.3s ease;
            }
          }
        }
        .article__share {
          display: flex;
          justify-content: center;
          margin-top: 50px;
          border-bottom: 1px solid var(--dark-color);
          border-top: 1px solid var(--dark-color);
          padding: 30px 0;
          button {
            .share__button {
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.3s ease-in-out;
              span {
                color: var(--white-color);
                height: 20px;
                display: flex;
                align-items: center;
                font-size: 11px;
                font-weight: 700;
                padding-right: 6px;
              }
              &.facebook__share {
                padding-right: 20px;
                span {
                  background-color: #3b5998;
                }
              }
              &.twitter__share {
                span {
                  background-color: #00aced;
                }
              }
              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
        .back__button {
          margin-top: 94px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 18px 15px;
            border-bottom: 2px solid var(--dark-color);
            z-index: 1;
            width: 330px;
            overflow: hidden;
            span {
              font-size: 16px;
              font-weight: 700;
              color: var(--dark-color);
              position: relative;
              padding-left: 30px;
              &::before,
              &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                transition: all 0.3s ease-in-out;
              }
              &::before {
                left: 0;
                width: 16px;
                height: 1px;
                background-color: var(--dark-color);
              }
              &::after {
                left: 0;
                width: 6px;
                height: 6px;
                border-top: 1px solid var(--dark-color);
                border-right: 1px solid var(--dark-color);
                transform: rotate(-135deg);
              }
            }
            &::after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: -50px;
              margin: auto;
              z-index: -1;
              border-left: 50px solid transparent;
              border-bottom: 60px solid #fff100;
              transform: translateX(100%);
              transition: 0.3s ease-in-out;
            }
            &:hover {
              span {
                &::before {
                  width: 24px;
                  left: -8px;
                }
                &::after {
                  left: -8px;
                }
              }
              &::after {
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
    .article__recommends {
      margin-top: 134px;
      position: relative;
      .article__recommends--title {
        position: relative;
        padding-bottom: 16.5px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          height: 1px;
          width: 40px;
          background-color: var(--lighter-dark-color);
        }
      }
    }
    > .tags__list {
      margin-top: 40px;
    }
  }
}

.nav__share--button {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 779;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 90%, 0.85);
  padding: 15px 0;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  span {
    font-size: 12px;
  }
  ul {
    display: flex;
    align-items: center;
    li {
      margin-left: 16px;
    }
  }
  &.is--scroll-up {
    transform: translateY(0);
  }
}
