.container {
  width: 1070px;
  display: flex;
  justify-content: space-between;
  margin: auto;

  &.mobile {
    width: unset;
    justify-content: unset;
    flex-direction: column;
  }
}

.content {
  margin: 20px auto 0;
  padding: 0 15px;
}

.main {
  width: 690px;

  &.mobile {
    width: unset;
  }
}

.sub {
  width: 300px;

  &.mobile {
    width: unset;
    padding: 60px 0 30px;
  }
}