.header {
  padding-top: 90px;
  min-width: 1200px;

  .header__topbar {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 90px;
    border-bottom: 3px solid var(--lighter-dark-color);
    background-color: var(--white-color);

    .header__logo {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 30px;
      height: 50px;
      margin: auto;

      a {
        display: flex;
        align-items: center;
        transition: opacity ease 0.3s;

        >img {
          height: 50px;
        }

        >span {
          margin-left: 20px;

          >img {
            display: block;
          }
        }

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .dropdown__language {
      position: relative;
      cursor: pointer;
      margin-right: 30px;
      width: 150px;

      .dropdown__language--text {
        position: relative;
        background-color: var(--grey-color);
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 0 18px;
        height: 40px;
        transition: opacity 0.1s ease-in-out;
        z-index: 2;

        &::after {
          content: "";
          position: absolute;
          right: 17px;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 8px solid var(--darker-grey-color);
        }

        &.is-fade {
          background-color: var(--white-color);
          border-radius: 0;

          &::after {
            border-top: 0;
            border-bottom: 8px solid var(--darker-grey-color);
          }
        }

        &:not(.is-fade):hover {
          opacity: 0.5;
        }
      }

      .dropdown__language--list {
        position: absolute;
        top: 31px;
        right: 0;
        left: 0;
        margin: auto;
        padding: 17px 16px 0;
        box-sizing: border-box;
        width: 98%;
        height: 0px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        border-radius: 0 0 25px 25px;
        z-index: 2;

        li {
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            height: 40px;
            background-color: var(--darker-white-color);
            transition: all ease-in-out 0.3s;
            color: var(--dark-color);

            &:hover {
              background-color: var(--white-color);
            }
          }
        }

        li:nth-child(n + 2) {
          margin-top: 5px;
        }

        &.is-active {
          height: 215px;
          padding: 20.5px 16px 17px;
          background-color: var(--white-color);
          box-shadow: 0 6px 11px rgba(0, 0, 0, 0.1);
          border-radius: 0;
        }
      }
    }

    .hamburger__trigger {
      height: 100%;
      width: 70px;
      background-color: var(--grey-color);
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .hamburger__line {
        width: 30px;
        height: 11px;
        position: relative;
        transition: all 0.5s;

        .hamburger__item {
          position: absolute;
          right: 0;
          width: 100%;
          height: 3px;
          background-color: var(--dark-color);
          transition: all 0.5s;
        }

        .hamburger__item:nth-of-type(1) {
          width: 100%;
          top: 0;
        }

        .hamburger__item:nth-of-type(2) {
          bottom: 0;
          width: 73.3%;
        }
      }

      &.is-active {
        height: 110%;

        .hamburger__line {
          transform: rotate(360deg);

          .hamburger__item:nth-of-type(1) {
            transform: translateY(8px) rotate(-45deg);
          }

          .hamburger__item:nth-of-type(2) {
            transform: translateY(0) rotate(45deg);
            width: 100%;
          }
        }
      }

      &:not(.is-active):hover {
        .hamburger__item:nth-of-type(1) {
          width: 70%;
        }

        .hamburger__item:nth-of-type(2) {
          width: 43.3%;
        }
      }
    }

    .hamburger__menu {
      position: absolute;
      top: 90px;
      left: 0;
      background-color: var(--grey-color);
      overflow-y: hidden;
      width: 100%;
      height: 0px;
      transition: all ease 0.5s;

      .hamburger__inner {
        width: 1200px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 68px 65px;
        margin: 0 auto;

        .content-l {
          width: 441px;

          .nav {
            .nav__list {
              .nav__item {
                border-bottom: 1px solid var(--white-color);
                transition: opacity 0.3s ease;

                a {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  color: var(--dark-color);
                  padding: 23.5px 0px 19.5px;

                  .nav__item--cat {
                    font-size: 20px;
                    font-weight: 700;
                  }

                  .nav__item--des {
                    font-size: 13px;
                  }
                }

                &:first-child a {
                  padding-top: 0px;
                }

                &:hover {
                  opacity: 0.5;
                }
              }
            }

            .link__list {
              a {
                margin-top: 40px;
              }
            }
          }
        }

        .content-r {
          width: 550px;

          .searh {
            margin-top: 50px;

            form {
              position: relative;

              input {
                padding: 0 36px 0 16px;
                width: 100%;
                height: 50px;
                border-radius: 60px;
              }

              button {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 17px;
                margin: auto;
                background-color: transparent;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }

      &.is-open {
        height: 100vh;
      }
    }

    .header__button {
      height: 100%;
      width: 200px;
      background-color: var(--yellow-color);
      transition: all 0.3s ease;

      a {
        color: var(--dark-color);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;

        span {
          position: relative;
          padding-right: calc(1em + 8.9px);
          font-weight: 700;

          &::after {
            content: "";
            background-image: url(../../../assets/images/ico_outer_link.svg);
            width: 13px;
            height: 10px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
          }
        }
      }

      &:hover {
        background-color: var(--hover-header-color);

        a span {
          color: var(--yellow-color);

          &::after {
            background-image: url(../../../assets//images/ico_outer_link_on.svg);
          }
        }
      }
    }
  }
}

.header--mobile {
  -webkit-tap-highlight-color: transparent;
  padding-top: 77px;
  position: relative;

  .header__topbar {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 77px;
    border-bottom: 3px solid var(--lighter-dark-color);
    background-color: var(--white-color);
    display: flex;
    align-items: center;

    .header__logo {
      margin-left: 20px;

      a {
        display: block;

        img {
          display: block;
          height: 40px;
        }
      }
    }

    .dropdown__language {
      margin-right: 4%;
      margin-left: auto;

      .dropdown__language--text {
        position: relative;

        .dropdown__arrow {
          display: block;
          position: absolute;
          top: 39px;
          right: 0;
          left: 0;
          margin: auto;
          width: 0;
          height: 0;
          border-bottom: 14px solid var(--white-color);
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }
      }

      .dropdown__wrapper {
        position: fixed;
        top: 60px;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 2;

        .dropdown__language--list {
          margin: auto;
          padding: 16px;
          width: 90%;
          height: 130px;
          display: flex;
          flex-wrap: wrap;
          background-color: var(--white-color);
          box-shadow: 0 6px 11px #0000001a;

          li {
            width: 49%;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              background-color: var(--darker-white-color);
              border-radius: 30px;
              color: var(--dark-color);
              font-size: 12px;
              height: 44px;
            }
          }

          li:nth-child(2n) {
            margin-left: auto;
          }

          li:nth-child(n + 3) {
            margin-top: 5px;
          }
        }
      }
    }

    .hamburger__trigger {
      height: 100%;
      width: 60px;
      background-color: var(--grey-color);
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .hamburger__line {
        width: 20px;
        height: 8px;
        position: relative;
        transition: all 0.5s;

        .hamburger__item {
          position: absolute;
          right: 0;
          width: 100%;
          height: 2px;
          background-color: var(--dark-color);
          transition: all 0.5s;
        }

        .hamburger__item:nth-of-type(1) {
          width: 100%;
          top: 0;
        }

        .hamburger__item:nth-of-type(2) {
          bottom: 0;
          width: 70%;
        }
      }

      &.is-active {
        height: 110%;

        .hamburger__line {
          transform: rotate(360deg);

          .hamburger__item {
            width: 28px;
            right: -5px;
          }

          .hamburger__item:nth-of-type(1) {
            top: -2px;
            transform: translateY(8px) rotate(-45deg);
          }

          .hamburger__item:nth-of-type(2) {
            transform: translateY(0) rotate(45deg);
          }
        }
      }
    }

    .hamburger__menu {
      position: fixed;
      top: 77px;
      left: auto;
      width: 100%;
      height: 0;
      background-color: var(--grey-color);
      overflow-y: scroll;
      transition: all ease 0.5s;

      .hamburger__inner {
        padding: 30px 20px 120px;
        width: 100%;

        .nav {
          .nav__list {
            .nav__item {
              border-bottom: 1px solid var(--white-color);
              transition: opacity 0.3s ease;

              a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: var(--dark-color);
                padding: 14.5px 0 15.5px;

                .nav__item--cat {
                  font-size: 15px;
                  font-weight: 700;
                }

                .nav__item--des {
                  font-size: 11px;
                }
              }

              &:first-child a {
                padding-top: 0px;
              }
            }
          }

          .link__list {
            a {
              margin-top: 40px;

              img {
                width: 100%;
              }
            }
          }
        }

        .tags__list {
          margin-top: 34.5px;

          .tags__title {
            text-align: center;
            padding-bottom: 10px;

            &::after {
              margin: auto;
              right: 0;
            }
          }

          .tags__content {
            li {
              a {
                padding: 5px 8px 6px 6px;
                font-size: 12px;
              }

              &:hover {
                background-color: var(--white-color);

                a {
                  span {
                    &::before {
                      color: var(--yellow-color);
                    }
                  }
                }
              }
            }
          }
        }

        .searh {
          margin-top: 50px;

          form {
            position: relative;

            input {
              padding: 0 36px 0 16px;
              width: 100%;
              height: 50px;
              border-radius: 60px;
            }

            button {
              position: absolute;
              top: 0;
              bottom: 0;
              right: 17px;
              margin: auto;
              background-color: transparent;
              width: 16px;
              height: 16px;
            }
          }
        }
      }

      &.is-open {
        height: 100%;
      }
    }

    .header__button {
      height: 100%;
      width: 100px;
      background-color: var(--yellow-color);
      transition: all 0.3s ease;

      a {
        color: var(--dark-color);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;

        span {
          position: relative;
          padding-right: calc(1em + 8.9px);
          font-size: 12px;
          font-weight: 700;

          &::after {
            content: "";
            background-image: url(../../../assets/images/ico_outer_link.svg);
            width: 13px;
            height: 10px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
          }
        }
      }
    }
  }
}